:root {
    --color-purple: rgba(190, 140, 239, 1);
    --color-blue: rgba(0, 180, 207, 1);
    --color-gray: rgba(29, 44, 57, 1);
    --color-light-gray: rgba(238, 238, 238, 1);
    --color-white: rgba(255, 255, 255, 1);
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: unset;
    background-color: var(--color-purple);
    font-family: "Montserrat", serif;
}

main {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-weight: 900;
    align-self: center;
}

.side-left, .side-right {
    min-width: 300px;
    padding: 50px;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side-left {
    background-color: var(--color-blue);
    align-items: center;
    align-content: center;
    color: var(--color-white);
    text-align: center;
}

.side-right {
    background-color: var(--color-white);
}

form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button, input {
    all: unset;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--color-light-gray);
}

button:hover {
    cursor: pointer;
}

textarea {
    background-color: var(--color-light-gray);
    border: unset;
    padding: 10px;
    font: inherit;
    resize: vertical
}

.submit-btn {
    background-color: var(--color-blue);
    color: var(--color-white);
}
